.claude/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
node_modules/**
src/**
coverage/**
tmp/**
.github/**
.yarn/**
.yarnrc.yml
yarn.lock
.gitignore
.editorconfig
.node-version
.c8rc.json
.mocharc.json
biome.json
CLAUDE.md
esbuild.js
images/icon.svg
syntaxes/fixtures/**
**/tsconfig.json
**/*.map
**/*.ts
