a href="/" title='Home' Home
input type="text" disabled=true
button disabled=false Cancel
a(href="/wrapped" data-x="1") Wrapped parens
a[href="/brackets"] Wrapped brackets
a{href="/braces"} Wrapped braces
a(href="/multi"
  title="second line") Multiline wrap
div *{id: 'splat'} Splat hash
section *splat_variable Splat variable
span data-count=items.count Counted
p No attributes here
